body {
  max-width: 73ch;
  margin-inline: auto;
}
dl > div {
  display: flex;
  align-items: baseline;
}
dl > div > dd {
  margin-left: 0.5em;
}

figure[data-ams-doc="statement"] {
  margin-left: 0;
}
figure[data-ams-doc="statement"] > figcaption {
  font-weight: bolder;
}
